.card {
  height: auto;
  width: 700px;
  background-color: rgb(255, 255, 255);
  gap: 24px;
  border-radius: 24px;
  align-items: center;
  margin: auto;
}
.inputfields {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 20px;
  height: 24px;
}
